#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tiles {
  color: rgb(13, 16, 13);
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 8px;
  padding: 8;
}


.remove-btn {
  width: fit-content;
  text-align: center;
}

.copy-btn {
  width: fit-content;
}

.menu-btn {
  color: black;
}

.tile-btns {
  width: fit-content;
  height: fit-content;
}

main {
  width: 66vw;
}


/*  NAV BAR */

nav {
  background-color: #33333369;
  color: white;
  top: 0; /* Position it at the top of the page */
  left: 0;
  right: 0;
  display: flex; /* Make the navigation items horizontal */
  justify-content: space-between; /* Space out the items */
  padding: 10px 20px; /* Add padding to the navbar */
  position: absolute;
}

ul.login-list {
  list-style: none;
  display: flex; /* Make the list items horizontal */
  padding-right: 0;
  margin: 0;
  cursor: pointer;
  color: navajowhite;
}

.nav-list {
  list-style-type: none;
  margin-right: 50px;
  color: #ef7015;
}

.nav-list:hover {
  color: #3984bd;
}

#login-hdr {
  color: #2878f5;
  background-color: #fdbb79c2;
  width: fit-content;
  margin-left: 150px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

  /*  NAV BAR */